<mat-card>
  <mat-card-header>
    <div fxLayout="row" fxLayoutGap="30px">
        <mat-card-title>{{product.Name | titlecase}}</mat-card-title>
        <button mat-button color="accent" [routerLink]="['/sales/product',product.IdProduct]">
          <mat-icon >edit</mat-icon>
          </button>


    </div>
  </mat-card-header>
  <img mat-card-image [src]="product.Image" [alt]="product.Name" >
  <mat-card-content>
    <p>{{product.Description}}</p>
    <h2>{{product.UnitValue | currency}}</h2>
  </mat-card-content>
  <mat-card-actions >
      <mat-form-field>
        <mat-label>Cantidad de unidades: </mat-label>
        <input matInput #idcount type="number" min="1" [(ngModel)]="countunits" >
      </mat-form-field>
    <button mat-raised-button color="accent" (click)="addProduct()">
      <mat-icon >add_shopping_cart</mat-icon></button>
  </mat-card-actions>
</mat-card>
