<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">

    <mat-toolbar color="accent">
      <span>Menu</span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>

    </mat-toolbar>

    <mat-list>
      <a routerLink="./customer" mat-list-item (click)="sidenav.toggle()">
        <mat-icon fontIcon="people" mat-list-icon></mat-icon>
        <span>Listado clientes</span>
      </a>
      <a routerLink="./product" mat-list-item (click)="sidenav.toggle()">
        <mat-icon fontIcon="inventory" mat-list-icon></mat-icon>
        <span>Listado Productos</span>
      </a>

    </mat-list>

  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>



  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
