<h1 >Listado de productos</h1>
<button mat-button color="accent" (click)="showSummary()"><mat-icon>shopping_cart</mat-icon>Ver carrito de compras</button>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
fxLayoutAlign="center"
fxLayoutGap="20px"
fxLayout.xs="column"
class="animate__animated animate__rubberBand"
>

  <div fxFlex="20"
  fxLayout.lg="15"
  fxLayout.sm="30"
  *ngFor="let product of products">

  <!-- <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta> -->
  <app-product-card [product]="product" (productsale)="saleCart($event)"></app-product-card>

  </div>

</div>
